2dBoxThing/2dBoxProject/Library/
2dBoxThing/2dBoxProject/Temp/
2dBoxThing/2dBoxProject/Obj/
2dBoxThing/2dBoxProject/Build/

2dBoxThing/2dBoxProject/library/
2dBoxThing/2dBoxProject/temp/
2dBoxThing/2dBoxProject/obj/
2dBoxThing/2dBoxProject/build/