# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
.metadata/.lock
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.projects/ProjectDungeon/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/ProjectDungeon/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/ProjectDungeon/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/ProjectDungeon/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/1.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ant.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/GameRunner.launch
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1017853417.index
.metadata/.plugins/org.eclipse.jdt.core/1045485630.index
.metadata/.plugins/org.eclipse.jdt.core/1091515072.index
.metadata/.plugins/org.eclipse.jdt.core/115418958.index
.metadata/.plugins/org.eclipse.jdt.core/1337478678.index
.metadata/.plugins/org.eclipse.jdt.core/1523963980.index
.metadata/.plugins/org.eclipse.jdt.core/1787405673.index
.metadata/.plugins/org.eclipse.jdt.core/1919507815.index
.metadata/.plugins/org.eclipse.jdt.core/1937019784.index
.metadata/.plugins/org.eclipse.jdt.core/2535676096.index
.metadata/.plugins/org.eclipse.jdt.core/2674037006.index
.metadata/.plugins/org.eclipse.jdt.core/3034463324.index
.metadata/.plugins/org.eclipse.jdt.core/3045053200.index
.metadata/.plugins/org.eclipse.jdt.core/323251068.index
.metadata/.plugins/org.eclipse.jdt.core/3233997786.index
.metadata/.plugins/org.eclipse.jdt.core/3512542755.index
.metadata/.plugins/org.eclipse.jdt.core/355369697.index
.metadata/.plugins/org.eclipse.jdt.core/3604769962.index
.metadata/.plugins/org.eclipse.jdt.core/3638310892.index
.metadata/.plugins/org.eclipse.jdt.core/3656756579.index
.metadata/.plugins/org.eclipse.jdt.core/3716007315.index
.metadata/.plugins/org.eclipse.jdt.core/3809877148.index
.metadata/.plugins/org.eclipse.jdt.core/3954291735.index
.metadata/.plugins/org.eclipse.jdt.core/4099558212.index
.metadata/.plugins/org.eclipse.jdt.core/4187470955.index
.metadata/.plugins/org.eclipse.jdt.core/514876907.index
.metadata/.plugins/org.eclipse.jdt.core/533208796.index
.metadata/.plugins/org.eclipse.jdt.core/605290374.index
.metadata/.plugins/org.eclipse.jdt.core/677975822.index
.metadata/.plugins/org.eclipse.jdt.core/790715642.index
.metadata/.plugins/org.eclipse.jdt.core/878142317.index
.metadata/.plugins/org.eclipse.jdt.core/923933921.index
.metadata/.plugins/org.eclipse.jdt.core/994834796.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/2e2fbc9d40428f3403677874cd577e2e/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/2e2fbc9d40428f3403677874cd577e2e/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/2e2fbc9d40428f3403677874cd577e2e/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/2e2fbc9d40428f3403677874cd577e2e/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_2.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_4
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.jdt/ProjectDungeon.container
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.1.20150109-1820.xml
.metadata/.plugins/org.eclipse.team.cvs.core/.running
.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/version.ini
.metadata/.plugins/org.eclipse.core.resources/.projects/ProjectDungeon/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/ProjectDungeon/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.egit.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
